.container{
  margin: 50px auto;
  max-width: 800px;
  padding: 30px;
}
.container #filter-input{
  width: 100%;
  border:2px solid green;
  height: 30px;
  margin: 5px 0;
  text-align: center;
}
.filter-input:focus{
  outline:none;
}
.container .collection{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container .item{
  
  width: 100%;
  height: 30px;
  border: 2px solid green;
  margin: 5px 0;
  text-align: center;

  
}
.item a{
  text-decoration: none;
  margin: 3px 0;
  color: green;
  font-weight: 300;
}