body {
    font-size: 15pt;
}
.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid black;
  
  
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  height:30px;
  width: 30px;
  background-color:white;
  border-radius: 50%
  
}
.slider::-moz-range-thumb{
  appearance: none;
  t:30px;
  width: 30px;
  background-color:white;
  border-radius: 50%
  
}