*{
    margin: 0;
    padding: 0;
}
.container{
margin: auto;
max-width: 700px;
background-color: coral;
height: 100vh;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 50px 1fr;
}
.tab-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: white;
}
.tab{
background-color: rgb(212, 219, 224);
display: grid;
align-items: center;
justify-content: center;
color: white;
background-color: crimson;

}
.tab:hover{
background-color: rgb(184, 189, 192);
}
.tab-body{
background-color: white;
border: 3px solid rgb(212, 219, 224);
margin-top: 0;
padding: 20px 20px;
display: none;

}
.tab-body p{
margin: auto;
text-align: center;




}

.active{
background-color: white;
color: crimson;
}
